%% -*- mode: Erlang; -*-
[
 {etracker,
  [
   {http_port, 8181},
   {http_ip, "127.0.0.1"},
   {http_num_acceptors, 64},

   {udp_port, 8181},
   {udp_ip, "127.0.0.1"},

   %% {db_pool, {
   %%    [{worker_module, etracker_pgsql},
   %%     {size, 1}, {max_overflow, 0}
   %%    ],
   %%    [{hostname, "127.0.0.1"},
   %%     {database, "etracker"},
   %%     {username, "etracker"},
   %%     {password, "etracker"},
   %%     {timeout, 30000}]
   %%   }
   %% },
   %% {db_mgr, {etracker_pgsql_mgr, []}},
   %% {db_pool, {
   %%    [{worker_module, etracker_ets},
   %%     {size, 64}, {max_overflow, 96}
   %%    ],
   %%    []
   %%   }
   %% },
   %% {db_mgr, {etracker_ets_mgr, [{dir, "etracker_data"},
   %%                              {dump_interval, 3600},
   %%                              %% {db_type, ets}
   %%                              {db_type, dict}
   %%                             ]}},

   {db_pool, {
      [{worker_module, etracker_mnesia},
       {size, 64}, {max_overflow, 96}
      ],
      []
     }
   },
   {db_mgr, {etracker_mnesia_mgr, [{dir, "etracker_data"},
                                   {dump_interval, 3600}
                                  ]}},

   {db_cache_size, 1000000},     % entries
   {db_cache_peers_ttl, 120},      % seconds, 0 means no cache
   {db_cache_full_scrape_ttl, 600},
   {db_cache_dir, "etracker_data"},

   {answer_compact, false},
   {answer_max_peers, 50},
   {answer_interval, 1800},
   {clean_interval, 2700},
   {scrape_request_interval, 1800},
   {www_dir, "www"}
  ]},

 {lager,
  [{error_logger_hwm, 100}
   , {async_threshold, 20}
   , {crash_log, "log/crash.log"}
   , {crash_log_msg_size, 1024}
   , {crash_log_size, 10485760}
   , {crash_log_date, "$D0"}
   , {crash_log_count, 5}
   , {handlers,
      [{lager_console_backend,
        [debug, {lager_default_formatter, [date, " ", time," [",severity,"] ", pid, " ", {module, "?"}, ":", {line, "?"}, " ", message, "\n"]}]}
       , {lager_file_backend, [{file, "log/error.log"}, {level, error}
                               , {size, 10485760}, {date, "$D0"}, {count, 5}
                               , {formatter, lager_default_formatter}
                               , {formatter_config, [date, " ", time," [",severity,"] ", pid, " ", {module, "?"}, ":", {line, "?"}, " ", message, "\n"]}
                              ]}
       , {lager_file_backend, [{file, "log/info.log"}, {level, info}
                               , {size, 10485760}, {date, "$D0"}, {count, 5}
                               , {formatter, lager_default_formatter}
                               , {formatter_config, [date, " ", time," [",severity,"] ", pid, " ", {module, "?"}, ":", {line, "?"}, " ", message, "\n"]}
                              ]}

      ]}
  ]},
 {kernel,
  [{start_timer, true}]},
 {sasl,
  [{sasl_error_logger, {file, "log/sasl/sasl-error.log"}},
   {errlog_type, error}]}
].
