{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.

{require_otp_vsn, "R15"}.

{cover_enabled, true}.

{edoc_opts, [{todo, true}]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{lib_dirs, ["deps"]}.

{deps, [
        {etorrent_core, ".*", {git, "git://github.com/eryx67/etorrent_core.git",
                               {branch, "upnp_fix"}}}
       ]}.

{sub_dirs, ["apps/etracker","rel"]}.
