%% -*- mode: Erlang; -*-
[
  {etracker,
  [
   {http_port, 8080},               % port to listen for requests
   {http_ip, "127.0.0.1"},          % server address
   {http_num_acceptors, 16},        % pool of request acceptors
   {answer_compact, false},         % always return compact list of peers
   {answer_max_peers, 50},          % max number of peers to return
   {answer_interval, 1800},         % client interval value in answer to announce
   {clean_interval, 2700},          % database garbage clearing interval
   {scrape_request_interval, 1800}, % minimum number of seconds to wait before
                                    % scraping the tracker again
   {db, {
      [{worker_module, etracker_mnesia},
       {size, 16}, {max_overflow, 32}
      ],
      [{timeout, 60000}]            % how many seconds wait for tables
     }
   },
   {db_module, {etracker_mnesia, []}}, % which database module to use and its options
                                       % options for mnesia:
                                       % [
                                       % {timeout, 60000} how many seconds wait for tables
                                       % ]
   {db_cache_size, 1000000},  % entries
   {db_cache_peers_ttl, 120}, % seconds, 0 means no cache
   {www_dir, "www"}
  ]},
 {mnesia,
  [
   {dir, "data"},                 % where to place database files
   {dump_log_write_threshold, 50000},
   {dc_dump_limit, 10}
  ]},
 {lager,                         % logger configuration
  [{handlers,
    [
     {crash_log_msg_size, 1024},
     {lager_console_backend, none},          % [debug | info | error]
     {lager_file_backend,
      [ % comment lines you don't want logging for
        % {"log/debug.log", debug, 10485760, "$D0", 5},
        {"log/info.log", info, 10485760, "$D0", 5},
        {"log/error.log", error, 10485760, "$D0", 5}
      ]}
    ]}
  ]},
 {kernel, [
           {start_timer, true},
           {error_logger, silent}
          ]},
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},
         {error_logger_mf_maxbytes, 10485760},
         {error_logger_mf_maxfiles, 5}
        ]}
].
