%% -*- mode: Erlang; -*-
[
 {etracker,
  [
   {http_port, 8080},               % port to listen for requests
   {http_ip, "127.0.0.1"},          % server address
   {http_num_acceptors, 32},        % pool of request acceptors

   {udp_port, 8080},
   {udp_ip, "127.0.0.1"},
   {udp_max_connections, 1024},

   {answer_compact, false},         % always return compact list of peers
   {answer_max_peers, 50},          % max number of peers to return
   {answer_interval, 1800},         % client interval value in answer to announce
   {clean_interval, 2700},          % database garbage clearing interval
   {scrape_request_interval, 1800}, % minimum number of seconds to wait before
                                                % scraping the tracker again
   {db_pool, {
      [{worker_module, etracker_mnesia},
       {size, 32}, {max_overflow, 64}
      ],
      [{timeout, 60000}]            % how many seconds wait for tables
     }
   },
   {db_mgr, {etracker_mnesia_mgr, [{timeout, 60000}, {dump_interval, 3600}]}},
   {db_cache_size, 1000000},  % entries
   {db_cache_peers_ttl, 120}, % seconds, 0 means no cache
   {db_cache_full_scrape_ttl, 300},
   {db_cache_dir, "etracker_data"},

   {www_dir, "www"}
  ]},
 {mnesia,
  [
   {dir, "data"},                 % where to place database files
   {dump_log_write_threshold, 50000},
   {dc_dump_limit, 10}
  ]},
 {lager,
  [{error_logger_hwm, 50}
   , {async_threshold, 50}
   , {crash_log, "log/crash.log"}
   , {crash_log_msg_size, 1024}
   , {crash_log_size, 10485760}
   , {crash_log_date, "$D0"}
   , {crash_log_count, 5}
   , {handlers,
      [
       %% {lager_console_backend,
       %%  [info, {lager_default_formatter, [date, " ", time," [",severity,"] ", pid, " ", {module, "?"}, ":", {line, "?"}, " ", message, "\n"]}]},
       {lager_file_backend, [{file, "log/error.log"}, {level, error}
                             , {size, 10485760}, {date, "$D0"}, {count, 5}
                             , {formatter, lager_default_formatter}
                             , {formatter_config, [date, " ", time," [",severity,"] ", pid, " ", {module, "?"}, ":", {line, "?"}, " ", message, "\n"]}
                            ]},
       {lager_file_backend, [{file, "log/info.log"}, {level, '<=warning'}
                             , {size, 10485760}, {date, "$D0"}, {count, 5}
                             , {formatter, lager_default_formatter}
                             , {formatter_config, [date, " ", time," [",severity,"] ", pid, " ", {module, "?"}, ":", {line, "?"}, " ", message, "\n"]}
                            ]}

      ]}
  ]},
 {kernel, [
           {start_timer, true},
           {error_logger, silent}
          ]},
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},
         {error_logger_mf_maxbytes, 10485760},
         {error_logger_mf_maxfiles, 5}
        ]}
].
